        @media screen and (max-width:1330px) {
            .mainOne_PC {
                display: none;
            }
            .mainOne_mobil {
                display: block;
            }
        }
        
        @media screen and (max-width:1200px) {
            .bigboxfooter {
                flex-direction: column;
            }
            .footer_box_one {
                margin-bottom: 25px;
            }
            .footer_box {
                text-align: center;
                margin-bottom: 25px;
            }
            .footer_box_two {
                margin-bottom: 25px;
                width: 50%;
                margin: auto;
            }
            .mainOne_news_mobil {
                display: none;
            }
            .footer_box_three_box {
                margin: auto;
            }
            .icon_footer_box {
                margin: auto;
            }
        }
        
        @media screen and (max-width:900px) {
            .mainTwo_PC {
                display: none;
            }
            .mainTwo_mobil {
                display: block;
            }
            .item_text {
                display: none;
            }
            .item {
                justify-content: end;
            }
            .item_img {
                margin-right: 10px;
            }
            .navbar {
                margin-bottom: 100px;
            }
            .header {
                height: 375px;
            }
            .mainTwo_title {
                text-align: center;
            }
        }
        
        @media screen and (max-width:600px) {
            .mainOne_mobil {
                display: none;
            }
            .mainOne_mobil_Two {
                display: block;
            }
            .mainTwo_mobil_Two {
                display: block;
            }
            .headerInfo {
                text-align: center;
            }
            .footer_box_two {
                margin-bottom: 25px;
                width: 100%;
                text-align: center;
            }
        }
        
        @media screen and (max-width:414px) {
            .navbar {
                margin-bottom: 50px;
            }
            .headerInfo_text {
                font-size: 30px;
            }
            .brightBlack_box {
                flex-direction: column;
            }
            .footer_box_two {
                width: 100%;
            }
            .mainOne_flex_info {
                display: none;
            }
            .mainnavigate {
                display: block;
            }
            .mainshare {
                margin-bottom: 15px;
            }
        }
        
        @media screen and (max-width:336px) {
            .bigboxfooter {
                margin-bottom: 10px;
            }
        }